version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://nima:secret123@db:5432/mydb
      - REDIS_URL=redis://redis:6379
    depends_on:
      - db
      - redis

  consumer:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: python consumers/leaderboard_consumer.py
    volumes:
      - .:/code
    environment:
      - DATABASE_URL=postgresql+asyncpg://nima:secret123@db:5432/mydb
      - REDIS_URL=redis://redis:6379
    depends_on:
      - db
      - redis
    restart: on-failure

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: nima
      POSTGRES_PASSWORD: secret123
      POSTGRES_DB: mydb
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  redis_data:
